$main-light: #FDFDFD;
$main-dark: #1A3E3E;
$color-dedicated: #F2BE22;
$bg-beige: #F3F5F4;
$white: #ffffff;
$black: #18121E;

*,
::before,
::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'NEXT ART';
    src: local('NEXT ART Bold'), local('NEXTART-Bold'), url('../font/Nextartsemibold.woff2') format('woff2'), url('../font/Nextartsemibold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@mixin display-setting($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin font-setting($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

.wrapper {
    @include display-setting(row, center, center);
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @include font-setting(400, 16px, 24px);
}
header {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    align-self: center;
    &.container {
        padding: 0px 16px 0px;
        @include display-setting(row, space-between, center);
    }
}
nav {
    display: none;  
}
footer {
    position: relative;
    background-color: $main-dark;
    color: $main-light;
    @include display-setting(column, center, center);
    p {
        @include font-setting(400, 14px, 20px); 
    }
    a {
        color: $main-light;
        @include font-setting(400, 14px, 20px); 
    }
    ul {
        margin-bottom: 50px;
        padding: 0;
        list-style: url(../images/list-customise.svg);
        list-style-position: inside;
        h3 {
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
        }
        li {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            &:hover {
                list-style: url(../images/list-customise-active.svg);
                transition: 0.3s;
            }
        }
    }
}
button {
    padding: 12px 24px;
    color: $main-light;
    background-color: $main-dark;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    align-self: center;
    &:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition: 0.5s;
    }
}
a:hover {
    cursor: pointer;
    color: $color-dedicated;
    transition: 0.5s;
}
h1, h2, h3, h4 {
    margin: 0;
}
h1 {
    width: 80%;
    padding: 234px 0 32px 0;
    font-family: 'NEXT ART';
    text-transform: uppercase;
    color: $main-light;
    @include font-setting(700, 28px, 42px);
}
h2 {
    color: $main-dark;
    @include font-setting(800, 24px, 28.8px);
}
h3 {
    @include font-setting(700, 20px, 26px);
}
h4 {
    @include font-setting(700, 18px, 20px);
}

.container {
    width: 325px;
    padding: 78px 16px 50px;
    display: flex;
    flex-direction: column;
}
.consult-btn {
    display: none;
}
.menu-btn {
    background-color: transparent;
}
.sec-introduction {
    height: max-content;
    background-image: url(../images/main-bg.png);
    background-size: cover;
    @include display-setting(column, flex-start, center);
}
.intro-btn {
    padding: 16px 36px;
    align-self: start;
    color: $main-dark;
    background-color: $main-light;
}
.sec-about{
    @include display-setting(column, center, center);
    p {
        margin: 24px 0;
    }
}
.about-item {
    @include display-setting(column, flex-start, center);
}
.about-btn {
    margin-bottom: 40px;
}
.video-mock-item {
    width: 100%;
    height: 416px;
    border-radius: 24px;
    background-size: 100% 100%;
    @include display-setting(row, center, center);
    &.item1 {
        background-image: url(../images/video1.jpg);
    }
    &.item2 {
        display: none;
        background-image: url(../images/video2.jpg);
    }
}
.play-btn-mock {
    width: 50px;
    height: 50px;
    background-color: $main-light;
    border-radius: 50%;
    opacity: 0.6;
    @include display-setting(row, center, center);
}
.sec-best-plans {
    background-color: $bg-beige;
    @include display-setting(column, center, center);
    p {
        margin: 32px 0;
    }
}
.advantage-item {
    margin-bottom: 32px;
    @include display-setting(row, start, start);
    p {
        margin: 4px 0 0 0;
        @include font-setting(400, 14px, 20px);
    }
    img {
        margin-right: 16px;
    }
}
.sec-directions {
    @include display-setting(column, center, center);
}
.direction-cards {
    @include display-setting(row, space-between, center);
}
.direction-card {
    width: 100%;
    height: 400px;
    margin: 32px 0;
    border-radius: 45px;
    background-size: 100% 100%;
    display: none;
    &.active {
        @include display-setting(column, space-between, center);
        flex-wrap: wrap;
        animation: ani 2s forwards;
    }
    &:not(:last-child) {
        margin-right: 20px;
    }
}
@keyframes ani {
    0% {transform: translateX(150%);}
    100% {transform: translateY(0);}
}
.direction-card-rate {
    margin-top: 37px;
    padding: 7px 18px;
    align-self: end;
    border-radius: 4px;
    background-color: rgba($main-light, 0.4);
    @include display-setting(row, space-between, b);
    img {
        margin-right: 4px;
        margin-bottom: 4px;
    }
}
.direction-card-info {
    width: 100%;
    padding: 24px;
    background-color: rgba($main-light, 0.2);
    color: $main-light;
    @include font-setting(700, 18px, 22px);
    @include display-setting(row, center, center);
    span {
        display: none;
        @include font-setting(400, 14px, 18px);
    }
}
.price-badge {
    margin-left: 24px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgba($main-light, 0.3);
}
.travel-blog {
    background-color: $bg-beige;
    @include display-setting(column, center, center);
}
.blog-card {
    height: 496px;
    margin: 32px 0;
    padding: 16px;
    background-color: $main-light;
    background-size: 100% 55%;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: none;
    &.active {
        @include display-setting(column, flex-end, center);
        flex-wrap: wrap;
        animation: ani 2s forwards;
    }
    h3 {
        align-self: start;
    }
    p {
        @include font-setting(400, 14px, 20px);
    }
}
.blog-card-footer {
    width: 100%;
    @include display-setting(row, space-between, center);
    span {
        color: $color-dedicated;
        @include font-setting(700, 14px, 20px);
    }
    a {
        text-decoration: none;
        color: $main-dark;
        @include font-setting(700, 14px, 20px);
    }
}
.sec-impression {
    @include display-setting(column, center, center);
}
.impression-pics {
    @include display-setting(row, center, center);
}
.impression-img {
    width: 280px;
    height: 250px;
    margin: 32px 0;
    display: none;
    &.active {
        display: flex;
        animation: ani 2s forwards;
    }    
}
.impression-form {
    width: 100%;
    height: max-content;
    margin-top: 50px;
    padding: 50px 24px 24px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    @include display-setting(column, space-between, flex-start);
    span {
        @include font-setting(600, 14px, 18px);
    }
    a {
        text-decoration: underline;
        color: $main-dark;
    }
}
.form-block {
    input {
        width: 100%;
        margin: 8px 0 16px 0;
        padding: 12px 16px;
        border: none;
        background-color: $bg-beige;
        @include font-setting(300, 14px, 20px);
    }
}
.form-item {
    @include font-setting(600, 16px, 20px);
}
.contacts {
    margin-bottom: 30px;
    :first-child {
        margin-right: 24px;
    }
}
.contacts-links {
    :not(:last-child) {
        margin-right: 16px;
    }
}
.legal-info {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    margin-top: -2px;
    bottom: 0;
    background-color: $black;
    @include display-setting(column, center, center);
}

@media (min-width: 390px) {
    .container {
        width: 358px;
    }
}
@media (min-width: 1024px) {
    body {
        @include font-setting(400, 18px, 27px);
    }
    nav {
        display: flex;
        ul {
            @include display-setting(row, center, center);
            list-style: none;
            list-style-position: inside;
            :not(:last-child) {
                margin-right: 24px;
            }
            a {
                text-decoration: none;
                color: $main-light;
            }
        }

    }
    h1 {
        width: 100%;
        font-size: 50px;
        line-height: 75px;
    }
    h2 {
        align-self: center;
    }

    .container {
        width: 1000px;
        padding: 108px 25px 100px;
    }
    .menu-btn {
        display: none;
    }
    .consult-btn {
        display: flex;
        font-weight: 600;
    }
    .inro-form {
        width: 100%;
        height: max-content;
        padding: 40px 43px;
        border-radius: 10px;
        background-color: rgba($white, 0.2);
        @include display-setting(column, space-between, center);
        .intro-tibet-btn {
            margin-top: 24px;
            align-self: flex-end;
        }
    }
    form {
        @include display-setting(row, space-between, center);
        :not(:last-child) {
            margin-right: 14px;
        }
        .inro-form-input {
            width: 270px;
            padding: 14px 32px;
            color: $white;
            background-color: transparent;
            border-radius: 8px;
            border: 1px solid $white;
            @include font-setting(700, 16px, 24px);
        }
        span {
            margin-top: 8px;
            color: $main-light;
            @include font-setting(400, 14px, 21px);
        }
    }
    select {
        box-sizing: border-box;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent; 
        background-image: url(../images/select.svg); 
        background-repeat: no-repeat;
        background-position: right 16px top 50%, 0 0;
        background-size: 20px auto, 100%; 
    }
    .inro-form-item {
        @include display-setting(column, space-between, flex-start);
    }
    .sec-about {
        .container {
            @include display-setting(row-reverse, center, center);
        }
        .about-item {
            width: 40%;
            align-self: center;
            button {
                align-self: start;
            }
        }
    }
    .video-mock {
        position: relative;
        width: 60%;
        @include display-setting(row, center, flex-start);
    }
    .video-mock-item {
        width: 350px;
        height: 400px;
        &.item1 {
            z-index: 111;
            margin-top: 126px;
        }
        &.item2 {
            position: absolute;
            left: 0;
            display: flex;
            background-image: url(../images/video2.jpg);
        }
    }
    .sec-best-plans {
        .container {
            @include display-setting(row, space-between, flex-start);
        }
    }
    .best-plans-info {
        width: 45%;
    }
    .best-plans-pics {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .pics-item {
        margin-bottom: 10px;
        width: 250px;
        height: 250px;
        flex: 1 1 45%;
        background-color: #F2BE22;
        &.pic1 {
            margin-right: 10px;
            background-image: url(../images/programms1.jpg);
            background-size: 100% 100%;
            border-radius: 0 50px;
        }
        &.pic2 {
            background-image: url(../images/programms2.jpg);
            background-size: 100% 100%;
            border-radius: 50px 0;
        }
        &.pic3 {
            margin-right: 10px;
            background-image: url(../images/programms3.jpg);
            background-size: 100% 100%;
            border-radius: 50px 0;
        }
        &.pic4 {
            background-image: url(../images/programms4.jpg);
            background-size: 100% 100%;
            border-radius: 0 50px;
        }
    }
    .direction-card {
        width: 32%;
        height: 400px;
    }
    .impression-form {
        width: 100%;
        height: max-content;
        margin-top: 100px;
        padding: 40px 50px;
        @include display-setting(row, space-between, flex-start);
    }
    .form-block {
        width: 60%;
        button {
            align-self:last baseline;
        }
    }
    .form-item {
        align-self:last baseline;
    }
    footer {
        position: relative;
        @include display-setting(row, center, center);
        p {
            margin-bottom: 80px;
        }
        .container {
            @include display-setting(row, space-between, flex-start);
        }
    }
    .footer-info {
        width: 35%;
    }
    .legal-info {
        padding: 20px 25px;
        @include display-setting(row, space-between, center);
    }

}